*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
    color: white !important
}
.welcome{
    text-align: center;
}
.card{
    width: 35%;
    margin: auto;
    margin-top: 12px;
    display: flex;
}
h5{
    text-decoration: underline;
    text-align: center;
    color: rgb(134, 132, 129);
}
input{
    width: 80% !important;
    height: 17px !important;
   
}
label{
    font-size: 16px;
    line-height: 2rem !important;
    
}
.card{
    padding: 12px;
}
button{
    width: 50%;
    display: block;
    margin: auto;
}
.header{
    text-align: center;
}

 
