*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif
}
body{
    overflow-x: hidden;
}

// cart Screen
.cartBtn{
    margin: 5px 25px 0px 0px;
    position: relative;
}
.cart{
    display: block;
   margin-left: auto;
   padding: 2px 18px;
   color: rgb(177, 100, 100);
   background-color: yellow;
   border: 1px solid rgb(87, 84, 84);

}
.cartScreen{
    background: rgb(107, 107, 177);
    width: 60%;
    height: 39rem;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
}
.showCart{
    transform: translateX(-0%);
}

h1{
    text-align: center;
}
.cartScreenTitle{
    color: rgb(238, 232, 220);
}
.cartScrrenDetails{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.closeCart{
  display: block;
  padding: 2px 13px;
  margin-left: auto; 
  margin-top: -23px;
}

// home screen
h2{
    text-align: center;
}
.productList{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px ,1fr) );
}
.card{
    border: 1px solid black;
    text-align: center;
    padding: 12px;
    .productListName{
        color: rgb(70, 68, 68);
        font-weight: lighter;
        font-family: 'Times New Roman', Times, serif;
      
    }
}
@media screen and (max-width: 800px) {
    .cartScreen{
        background: rgb(107, 107, 177);
        width: 100%;
        height: 40rem;
        position: absolute;
        top: 0;
        right: 0;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: all 1s ease-in-out;
    }
    .showCart{
        transform: translateX(-0%);
    } 
}


